@import "../../styles/variables";

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  nav{
    ul{
      display: flex;
      gap: 30px;
      li{
        a{
          color: #fff;
          font-family: Comfortaa, sans-serif;
          font-size: 1.5rem;
        }
      }
    }
  }
}
