@import "styles/_resets";
@import "styles/_variables";

header, footer{
  background-color: $secondary-color;
}

main{
  background-color: $primary-color;
  min-height: calc(100vh - 140px);
  height: 1px;
}
