main{
  .date_container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .date{
      color: #fff;
      font-size: 4rem;
      letter-spacing: 10px;
      font-family: Neonderthaw, sans-serif;
      text-shadow: 2px 2px 5px #F637EC;
    }
    .date_caption{
      font-size: 2rem;
    }
    .time_button{
      margin-top: 20px;
      background-color: #6820EC;
      color: #fff;
      font-family: Comfortaa, sans-serif;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 1.5rem;
    }
  }
}
